### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin
.idea/

# Arquivos de workspace e build
*.iml
*.iws
*.ipr
vcs.xml

# JARs e WARs finais
*.jar
*.war
*.ear
libs/

### Mac OS ###
.DS_Store

.env
capa.png